<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../../assets/about.jpg">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>
                    Dynamic frontend developer with 3 years of experience dedicated to
                    crafting top-tier web applications, enhancing user satisfaction, and driving
                    success in collaborative environments.
                </p>
                <div class="tab-titles">
                    <p class="tab-links" [class.active-link]="activeTab === 'skills'" (click)="changeTab('skills')">
                        Skills
                    </p>
                    <p class="tab-links" [class.active-link]="activeTab === 'experience'"
                        (click)="changeTab('experience')">
                        Experience
                    </p>
                    <p class="tab-links" [class.active-link]="activeTab === 'education'"
                        (click)="changeTab('education')">
                        Education
                    </p>
                </div>
                <div class="tab-contents" [class.active-tab]="activeTab === 'skills'" id="skills">
                    <ul>
                        <li><span> Angular16</span><br> application-design framework and development platform for creating efficient and sophisticated single-page apps.</li>
                        <li><span>Typescript</span><br>Programming Language</li>
                        <li><span>Javascript Frameworks</span><br>Programming Language</li>
                        <li><span>HTML5</span><br>Standard markup language for creating Web pages</li>
                        <li><span>CSS3</span><br>Designing Web/App interfaces</li>
                        <li><span>Angular CLI</span><br>command-line interface tool which allows you to scaffold, develop, test, deploy, and maintain Angular applications directly from a command shell.</li>
                        <li><span>GIT</span><br>free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</li>
                        <li><span>RESTful API Integration</span><br>An interface that two computer systems use to exchange information securely over the internet</li>
                        <li><span>Unit Testing with Karma and Jasmine</span><br>Testing tool</li>
                        <li><span>Node JS</span><br>a free, open-source, cross-platform JavaScript runtime environment that lets developers create servers, web apps, command line tools and scripts</li>
                        <li><span>Express JS</span><br> a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</li>
                        <li><span>Mongo DB</span><br> to store data as JSON-like objects that resemble objects in application code</li>
                    </ul>
                </div>
                <div class="tab-contents" [class.active-tab]="activeTab === 'experience'" id="experience">
                    <ul>
                        <li><span>2021 - Present</span><br>Tata Consultancy Services</li>
                    </ul>
                </div>
                <div class="tab-contents" [class.active-tab]="activeTab === 'education'" id="education">
                    <ul>
                        <li><span>12th Grade</span><br>Hem Sheela Model School<br>75%</li>
                        <li><span>Graduation</span><br>Techno India Saltlake <br> Electronic and Communication Engineering <br>CGPA - 8.6</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>