<div id="contact">
    <div class="container">
        <div class="row">
            <div class="float-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i> aishhsms@gmail.com</p>
                <p><i class="fa-solid fa-square-phone"></i> 9064476695</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100008653211493">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/aishwariya_mazumdar/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/aishwariya-mazumdar-5572a6198">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <a href="../../assets/CV.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="float-right">
                <form
                    action="https://script.google.com/macros/s/AKfycbwQUgR-tz94Jso4nhfWfod7nJmoMqK-xOUGGOpfupvCc5mJW6tvPOWeS8gq3s4jxeOdhw/exec"
                    method="POST">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2" (click)="submitForm()">submit</button>
                </form>
                <!-- <span id="msg">Hello</span> -->
            </div>
        </div>
    </div>
</div>
<!-- <div class="copyright" style="position: absolute; bottom: 5px;">
    <p>Copyright Aishwariya <i class="fa-solid fa-copyright"></i></p>
</div> -->