<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="../../assets/resturant.PNG">
                <div class="layer">
                    <h3>Receipe Book</h3>
                    <p> This is a website where we can search our favourite receipes and it will redirect to it's youtube tutorial channel </p>
                    <a href="https://myreceipebook.netlify.app/"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../../assets/Portfolio.PNG">
                <div class="layer">
                    <h3>Portfolio App</h3>
                    <p> This is a portfolio app </p>
                    <a href="https://slothbear.netlify.app/"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../../assets/Todo.PNG">
                <div class="layer">
                    <h3>Todo List App</h3>
                    <p> This is a Todo List app </p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <a href="#" class="btn">See more</a>
        </div>
    </div>
</div>