<div id="header">
  <div class="container">
    <nav>
      <!-- <img src="images/01.PNG" class="logo"> -->
      <ul id="sidemenu">
        <li><a href="#header">Home</a> </li>
        <li><a href="#about">About</a></li>
        <!-- <li><a href="#">Services</a> </li> -->
        <li><a href="#portfolio">Work</a> </li>
        <li><a href="#contact">Contact</a> </li>
        <i class="fas fa-times" (click)="closeMenu()"></i>
      </ul>
      <i class="fas fa-bars" (click)="onMenu()"></i>
    </nav>
    <div class="descriptionContainer">
      <div class="mobile">
        <img src="../../assets/about.jpg" class="mobile-image" alt="Mobile Image">
      </div>
      
    <div class="header-text">
      <h1>Hi, My name is </h1>
      <h1><span>Aishwariya</span></h1>
      <p>and I am a Front-end Developer</p>
    </div>
    </div>
  </div>
</div>
<div id="about">
  <app-about></app-about>
</div>
<div id="portfolio">
  <app-portfolio></app-portfolio>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>